{% extends 'Admin/layout.html.twig' %}

{% block title %}parametres{% endblock %}

{% block content %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Paramètres

                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_main') }}">Accueil</a></li>
                            <li class="breadcrumb-item active">Paramètres</li>
                        </ol>

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">
                {# {{ render(path('admin_setting_maintenance')) }} #}

                {{ render(controller(
                    'App\\Controller\\Admin\\SettingController::maintenance')) }}

            </div>
        </section>
    </div>


{% endblock %}

{% block js %}



    <script>
        valMaintenance = $('.valueMainenance').data('maintenance')
        console.log(valMaintenance)
        console.log(typeof(valMaintenance))

        $('.maintenance').val(valMaintenance.toString())

        $('.maintenance').on('change',function () {
            console.log('a')
            $('.formMaintenance').submit()

        })


    </script>
{% endblock %}