{% extends 'Front/layout.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block content %}


<main>
    <div class="container">
        {{ page.content |raw }}

    </div>
</main>



{% endblock %}
