{% extends 'Admin/layout.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block content %}

<div class="product"  data-product="{{ productId }}"></div>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Combinaisons  <a href="{{ path('admin_combination_add', {'productId':productId}) }}" class="btn btn-primary">Ajouter </a></h1>

                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_main') }}">Accueil</a></li>
                            <li class="breadcrumb-item active">Page</li>
                        </ol>

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <section class="content">
            <div class="container-fluid">

                <table d id="table-list" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Nom</th>
                        <th>Valeur</th>
                        <th>Référence</th>
                        <th>Prix</th>
                        <th>Action</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>id</th>
                        <th>Nom</th>
                        <th>Valeur</th>
                        <th>Référence</th>
                        <th>Prix</th>
                        <th>Action</th>

                    </tr>
                    </tfoot>
                </table>

            </div>
        </section>
    </div>


{% endblock %}

{% block js %}



    <script>
        var idPage = null;
        var productId =$('.product').data('product')
        console.log(productId)
        var table = $('#table-list').DataTable({


            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },

            "ajax": Routing.generate('admin_combination_ajax_data', {'productId':productId}),
            "columns": [
                { "data": "id" },
                { "data": "name" },
                { "data": "value" },
                { "data": "reference" },
                { "data": "price" },
                ],

            'columnDefs': [
                {
                    'targets': 5,
                    'orderable': false,
                    render: function (full, type, data, meta) {
                        let html = '<div class="btn-group-datatable">';
                        html += '<a href="' + Routing.generate('admin_combination_edit', {'combinationId':data['id'],'productId': productId}) + '" class="btn btn-default"><i class="fa pencil-alt"></i> Modifier</a>';
                        html += '<a data-id="'+data['id']+'" href="#" class="btn btn-remove btn-danger"><i class="fa pencil-alt"></i> Supprimer</a>';
                        html += '</div>';
                        return html;
                    }
                }
            ]
        })



            $('#table-list tbody').on('click', '.btn-remove', function () {
                combinationId=$(this).data('id')
                var data = table.row( this ).data();
                console.warn($(this).data('id'))

                pageId=$(this).data('id')
                modal('.content-header', 'modal-danger', '<h3> Supprimer </h3>', 'Attention, en confirmant la page sera suprimée' )

                $('.confirmation').click(function (){
                    $.ajax({
                        url: Routing.generate('admin_combination_remove', {'combinationId': combinationId}),
                        type: 'POST',
                        success: function (data) {
                            console.log(data);
                            table.ajax.reload();

                            $('#myModal').modal('hide')

                        },
                        error: function (xhr) {
                        }
                    });
                })


            } );


    </script>
{% endblock %}