    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-9">
            {{ form_row(form.search) }}

        </div>
        <div class="col-md-2">
            {#        {{ form_row(form.submit) }}#}
            <button class="submitButton" type="submit"><i class="fas fa-search"></i>
            </button>

        </div>

    </div>

    {{ form_end(form) }}


