<img style="width: 10%" src="{{ email.image('@images/amf.jpeg') }}" alt="Logo">

<center>

    Votre commande a été transmise à notre transporteur! <br><br>
    Elle vous sera livrée dans les prochains jours. <br><br>
    Pour toutes demandes à propos de votre commande: <b>contactez-nous</b> <br>
    <table>
        <tbody>

        <tr>
            <td style="border: 1px solid #333;">Adeline <b>NORROY</b> <br> <br>
                <b>Chef de projet</b> <br>
                adeline.norroy@alliancemanufacturesdefrance.fr <br>
                Tel +33 6 81 71 76 86</td>
            <td style="border: 1px solid #333;">
                Véronique <b>GRAMMONT</b> <br>
                <b>Assistante commerciale, contrôle qualité</b> <br>
                veronique.grammont@alliancemanufacturesdefrance.fr <br>
                Tel +33 6 30 53 25 99
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    Il est fortement conseillé de vérifier sous 48 H le contenu de la commande après la
    livraison et d’en faire état à votre CSE en cas de non-conformité, ou de commande
    incomplète. <br>
    (Toutes demandes doivent être accompagnées du bon de livraison) <br><br>

    L’équipe d’Alliance Manufactures de France
</center>