<img style="width: 10%" src="{{ email.image('@images/amf.jpeg') }}" alt="Logo">

<center>


  <h3>  Nous vous remercions pour votre commande! Nous espérons que

      vous avez aimé passer un moment sur notre site. <br> <br>
  </h3>

    Notre équipe va prendre contact avec votre CSE à réception du règlement de la
    commande, afin de l’enregistrer. <br>
    Pour toutes demandes à propos de votre commande: <b>contactez votre CSE</b> <br><br>

    Pour rappel, le règlement peut se faire de deux manières. <br><br>

    1. Par chèque, à l’ordre: Alliance Manufactures de France. Celui est à
    transmettre à votre CSE. <br>
    2. Par virement, mettre en référence : nom du salarié concerné, l’entreprise, et
    indiquer commande CSE De Buyer. (Vous trouverez le RIB ci-joint) <br>
    N’hésitez pas à transmettre au plus vite le règlement afin de vous assurer des
    meilleurs délais de livraison.

    Nous restons à la disposition de votre CSE pour répondre à vos questions

    L’équipe d’Alliance Manufactures de France


</center>