<img style="width: 10%" src="{{ email.image('@images/amf.jpeg') }}" alt="Logo">

<center>


    Nous vous remercions pour votre commande! Nous espérons que

    vous avez aimé passer un moment sur notre site. <br> <br>

    Nous reviendrons vers vous quand nous aurons une visibilité sur les délais de livraison. <br>

    Pour toutes demandes à propos de votre commande contactez-nous <br> <br>

    <table>
        <tbody>

        <tr>
            <td style="border: 1px solid #333;">Adeline <b>NORROY</b> <br> <br>
                <b>Chef de projet</b> <br>
                adeline.norroy@alliancemanufacturesdefrance.fr <br>
                Tel +33 6 81 71 76 86</td>
            <td style="border: 1px solid #333;">
                Véronique <b>GRAMMONT</b> <br>
                <b>Assistante commerciale, contrôle qualité</b> <br>
                veronique.grammont@alliancemanufacturesdefrance.fr <br>
                Tel +33 6 30 53 25 99
            </td>
        </tr>
        </tbody>
    </table>
    <br><br><br>




    Il est fortement conseillé de vérifier sous 48 H le contenue de la commande
    après la livraison et de nous en faire état en cas de non-conformité de la

    commande. <br>

    (Toutes demandes doivent être accompagnées du bon de livraison) <br><br><br>

    Dans l’attente d’une prochaine commande de votre part <br>
    L’équipe d’Alliance Manufactures de France br


</center>