<div>
    <ul class="_attributes"
        data-prototype="{{ form_widget(form.productHasAttributes.vars.prototype)|e('html_attr') }}">
    </ul>
    <button type="button" class="add_item_link btn btn-primary"
            data-collection-holder-class="_attributes">Ajouter attribut
    </button>
    <button></button>
</div>