<img style="width: 10%" src="{{ email.image('@images/amf.jpeg') }}" alt="Logo">


<center>
    <h3>
        Bienvenue dans la boutique CSE d’Alliance Manufactures de France.
        Nous vous remercions pour votre inscription.
    </h3> <br><br>

    Vous trouverez ci-dessous les codes de connexion, pour le CSE. <br><br>

    Identifiant: {{ username }} <br>
    Mot de passe: {{ password }} <br><br>

    Avec cet identifiant vous pouvez commander, visualiser et valider les différentes
    commandes liées à votre entreprise y compris celles de vos salariés. <br><br>

    <b><u>Création de compte pour vos salariés:</u></b> <br><br>

    Pour permettre à vos salariés de préparer leur commande, vous pouvez créer un
    compte pour vos salariés dans la rubrique connexion en haut de page à droite. <br><br>

    Une fois le profil du salarié complété un identifiant et 1 mot de passe sont envoyés
    automatiquement sur l’adresse mail que vous aurez indiqué (soit celle du CSE, soit
    celle du salarié) <br><br>

    Identifiant : ex CSE-Nom de l’entreprise et site concerné-1 <br>
    Mot de passe: il est automatique et peut être réinitialisé <br><br>

    En cas de perte d’identifiant, le CSE peut nous adresser un e-mail, nous le
    retrouverons. <br><br>

    En cas de perte de mot de passe le salarié peut le reconfigurer
    Pour toutes questions: <b>contactez-nous</b> <br><br><br>

    <table>
        <tbody>

        <tr>
            <td style="border: 1px solid #333;">Adeline <b>NORROY</b> <br> <br>
                <b>Chef de projet</b> <br>
                adeline.norroy@alliancemanufacturesdefrance.fr <br>
                Tel +33 6 81 71 76 86</td>
            <td style="border: 1px solid #333;">
                Véronique <b>GRAMMONT</b> <br>
                <b>Assistante commerciale, contrôle qualité</b> <br>
                veronique.grammont@alliancemanufacturesdefrance.fr <br>
                Tel +33 6 30 53 25 99
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>
    Vous souhaitant une bonne navigation dans notre boutique
    L’équipe d’Alliance Manufactures de France
</center>


