<img style="width: 10%" src="{{ email.image('@images/amf.jpeg') }}" alt="Logo">

<center>
    <h3>
        Bienvenue dans la boutique CSE d’Alliance Manufactures de France. <br><br>
        Votre CSE a procédé à votre inscription à notre boutique en ligne
        https://boutique-cse-amf.fr pour bénéficier d’offres avantageuses.
    </h3>

    Vous trouverez ci-dessous vos codes de connexion. <br> <br>
    Identifiant: {{ username }} <br>
    Mot de passe: {{ password }} <br><br>

    Avec ces codes vous pouvez commander, visualiser et transmettre votre panier à
    votre CSE. <br><br>

    En cas de perte d’identifiant, contactez votre CSE <br>
    En cas de perte de mot de passe celui-ci peut être réinitialisé. <br><br><br>

    Pour toutes questions: <b>contactez votre CSE</b>
</center>